# Explore here

In [1]:
import pandas as pd

In [2]:
total_data_movies= pd.read_csv("/Users/jesus/Desktop/4geeks/4geeks - K-NEAREST NEIGHBORS/jesus-cuenca-K-NEAREST-NEIGHBORS-machine-learning-python-template/data/raw/tmdb_5000_movies.csv")

total_data_movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [3]:
total_data_credits= pd.read_csv("/Users/jesus/Desktop/4geeks/4geeks - K-NEAREST NEIGHBORS/jesus-cuenca-K-NEAREST-NEIGHBORS-machine-learning-python-template/data/raw/tmdb_5000_credits.csv")

total_data_credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [4]:
# Supongamos que tienes un DataFrame llamado df
print(total_data_credits.columns.tolist())

['movie_id', 'title', 'cast', 'crew']

In [5]:
import sqlite3

# Crear una conexión a la base de datos SQLite
conn = sqlite3.connect('movies_database.db')

# Almacenar los DataFrames en tablas diferentes
total_data_movies.to_sql('movies', conn, if_exists='replace', index=False)
total_data_credits.to_sql('credits', conn, if_exists='replace', index=False)

# Ver las columnas title de ambas tablas
unique_titles_movies = pd.read_sql_query("SELECT DISTINCT title FROM movies", conn)
unique_titles_credits = pd.read_sql_query("SELECT DISTINCT title FROM credits", conn)

print("Títulos únicos en movies:")
print(unique_titles_movies.head())

print("\nTítulos únicos en credits:")
print(unique_titles_credits.head())


# Ejecutar una consulta SQL para unir las dos tablas
query = '''
SELECT
    movies.*,
    credits.movie_id,
    credits.cast,
    credits.crew
FROM
    movies
INNER JOIN
    credits
ON
    credits.title = movies.title
'''

# Crear un nuevo DataFrame a partir de la consulta
unified_df = pd.read_sql_query(query, conn)

# Mostrar las primeras filas del DataFrame unificado
print("\nDataFrame Unificado:")
print(unified_df.head())

# Cerrar la conexión a la base de datos
conn.close()

Títulos únicos en movies:
                                      title
0                                    Avatar
1  Pirates of the Caribbean: At World's End
2                                   Spectre
3                     The Dark Knight Rises
4                               John Carter

Títulos únicos en credits:
                                      title
0                                    Avatar
1  Pirates of the Caribbean: At World's End
2                                   Spectre
3                     The Dark Knight Rises
4                               John Carter

DataFrame Unificado:
      budget                                             genres  \
0  237000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1  300000000  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2  245000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3  250000000  [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4  260000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...

                                       homepage      id  \
0                   http://www.avatarmovie.com/   19995
1  http://disney.go.com/disneypictures/pirates/     285
2   http://www.sonypictures.com/movies/spectre/  206647
3            http://www.thedarkknightrises.com/   49026
4          http://movies.disney.com/john-carter   49529

                                            keywords original_language  \
0  [{"id": 1463, "name": "culture clash"}, {"id":...                en
1  [{"id": 270, "name": "ocean"}, {"id": 726, "na...                en
2  [{"id": 470, "name": "spy"}, {"id": 818, "name...                en
3  [{"id": 849, "name": "dc comics"}, {"id": 853,...                en
4  [{"id": 818, "name": "based on novel"}, {"id":...                en

                             original_title  \
0                                    Avatar
1  Pirates of the Caribbean: At World's End
2                                   Spectre
3                     The Dark Knight Rises
4                               John Carter

                                            overview  popularity  \
0  In the 22nd century, a paraplegic Marine is di...  150.437577
1  Captain Barbossa, long believed to be dead, ha...  139.082615
2  A cryptic message from Bond’s past sends him o...  107.376788
3  Following the death of District Attorney Harve...  112.312950
4  John Carter is a war-weary, former military ca...   43.926995

                                production_companies  ... runtime  \
0  [{"name": "Ingenious Film Partners", "id": 289...  ...   162.0
1  [{"name": "Walt Disney Pictures", "id": 2}, {"...  ...   169.0
2  [{"name": "Columbia Pictures", "id": 5}, {"nam...  ...   148.0
3  [{"name": "Legendary Pictures", "id": 923}, {"...  ...   165.0
4        [{"name": "Walt Disney Pictures", "id": 2}]  ...   132.0

                                    spoken_languages    status  \
0  [{"iso_639_1": "en", "name": "English"}, {"iso...  Released
1           [{"iso_639_1": "en", "name": "English"}]  Released
2  [{"iso_639_1": "fr", "name": "Fran\u00e7ais"},...  Released
3           [{"iso_639_1": "en", "name": "English"}]  Released
4           [{"iso_639_1": "en", "name": "English"}]  Released

                                          tagline  \
0                     Enter the World of Pandora.
1  At the end of the world, the adventure begins.
2                           A Plan No One Escapes
3                                 The Legend Ends
4            Lost in our world, found in another.

                                      title vote_average vote_count movie_id  \
0                                    Avatar          7.2      11800    19995
1  Pirates of the Caribbean: At World's End          6.9       4500      285
2                                   Spectre          6.3       4466   206647
3                     The Dark Knight Rises          7.6       9106    49026
4                               John Carter          6.1       2124    49529

                                                cast  \
0  [{"cast_id": 242, "character": "Jake Sully", "...
1  [{"cast_id": 4, "character": "Captain Jack Spa...
2  [{"cast_id": 1, "character": "James Bond", "cr...
3  [{"cast_id": 2, "character": "Bruce Wayne / Ba...
4  [{"cast_id": 5, "character": "John Carter", "c...

                                                crew
0  [{"credit_id": "52fe48009251416c750aca23", "de...
1  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2  [{"credit_id": "54805967c3a36829b5002c41", "de...
3  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 23 columns]

In [6]:
print(unified_df.columns.tolist())

['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language', 'original_title', 'overview', 'popularity', 'production_companies', 'production_countries', 'release_date', 'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title', 'vote_average', 'vote_count', 'movie_id', 'cast', 'crew']

- `movie_id`
- `title`
- `overview`
- `genres`
- `keywords`
- `cast`
- `crew`

In [7]:
# Seleccionar solo las columnas que deseas
columns_to_display = ['movie_id', 'title', 'overview', 'genres', 'keywords', 'cast', 'crew']  # Especifica las columnas que quieres mostrar
selected_df = unified_df[columns_to_display]

# Mostrar el DataFrame resultante
selected_df

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...,...,...,...
4804,9367,El Mariachi,El Mariachi just wants to play his guitar and ...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 5616, ""name"": ""united states\u2013mexi...","[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4805,72766,Newlyweds,A newlywed couple's honeymoon is upended by th...,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",[],"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4806,231617,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...","[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...","[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4807,126186,Shanghai Calling,When ambitious New York attorney Sam is sent t...,[],[],"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4808,25975,My Date with Drew,Ever since the second grade when he first saw ...,"[{""id"": 99, ""name"": ""Documentary""}]","[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...","[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [8]:
import json
import pandas as pd
import numpy as np

def extraer_nombres(json_str, clave="name", limite=None):
    """Extrae una lista de nombres de un string JSON."""
    data = load_json_safe(json_str, [])
    if isinstance(data, list):
        nombres = [item.get(clave) for item in data if isinstance(item, dict) and clave in item]
        return nombres[:limite] if limite else nombres
    return []

def extraer_director(json_str):
    """Extrae el nombre del director de un string JSON."""
    data = load_json_safe(json_str, [])
    if isinstance(data, list):
        directores = [item.get('name') for item in data if isinstance(item, dict) and item.get('job') == 'Director']
        return " ".join(directores)
    return ""

def load_json_safe(json_str, default_value=None):
    try:
        return json.loads(json_str)
    except (TypeError, json.JSONDecodeError):
        return default_value

# Asegúrate de que selected_df no sea una vista.
selected_df = selected_df.copy()

# Procesar columnas
selected_df["genres"] = selected_df["genres"].apply(lambda x: [g.replace(" ", "") for g in extraer_nombres(x)])
selected_df["keywords"] = selected_df["keywords"].apply(lambda x: [k.replace(" ", "") for k in extraer_nombres(x)])
selected_df["cast"] = selected_df["cast"].apply(lambda x: [c.replace(" ", "") for c in extraer_nombres(x, limite=3)])
selected_df["crew"] = selected_df["crew"].apply(lambda x: extraer_director(x).replace(" ", ""))
selected_df["overview"] = selected_df["overview"].apply(lambda x: [x] if pd.notna(x) else [])

# Crear la columna 'tags'
selected_df["tags"] = selected_df["overview"] + selected_df["genres"] + selected_df["keywords"] + selected_df["cast"] + selected_df["crew"].apply(lambda x: [x])

# Unir los elementos de 'tags' en una sola cadena
selected_df["tags"] = selected_df["tags"].apply(lambda x: " ".join(item for sublist in x for item in (sublist if isinstance(sublist, list) else [sublist])))

# Mostrar las primeras filas con la columna 'tags'
print(selected_df[["title", "tags"]].head())
selected_df

                                      title  \
0                                    Avatar
1  Pirates of the Caribbean: At World's End
2                                   Spectre
3                     The Dark Knight Rises
4                               John Carter

                                                tags
0  In the 22nd century, a paraplegic Marine is di...
1  Captain Barbossa, long believed to be dead, ha...
2  A cryptic message from Bond’s past sends him o...
3  Following the death of District Attorney Harve...
4  John Carter is a war-weary, former military ca...

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In the 22nd century, a paraplegic Marine is d...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",JamesCameron,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"[Captain Barbossa, long believed to be dead, h...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",GoreVerbinski,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,[A cryptic message from Bond’s past sends him ...,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",SamMendes,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,[Following the death of District Attorney Harv...,"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",ChristopherNolan,Following the death of District Attorney Harve...
4,49529,John Carter,"[John Carter is a war-weary, former military c...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",AndrewStanton,"John Carter is a war-weary, former military ca..."
...,...,...,...,...,...,...,...,...
4804,9367,El Mariachi,[El Mariachi just wants to play his guitar and...,"[Action, Crime, Thriller]","[unitedstates–mexicobarrier, legs, arms, paper...","[CarlosGallardo, JaimedeHoyos, PeterMarquardt]",RobertRodriguez,El Mariachi just wants to play his guitar and ...
4805,72766,Newlyweds,[A newlywed couple's honeymoon is upended by t...,"[Comedy, Romance]",[],"[EdwardBurns, KerryBishé, MarshaDietlein]",EdwardBurns,A newlywed couple's honeymoon is upended by th...
4806,231617,"Signed, Sealed, Delivered","[""Signed, Sealed, Delivered"" introduces a dedi...","[Comedy, Drama, Romance, TVMovie]","[date, loveatfirstsight, narration, investigat...","[EricMabius, KristinBooth, CrystalLowe]",ScottSmith,"""Signed, Sealed, Delivered"" introduces a dedic..."
4807,126186,Shanghai Calling,[When ambitious New York attorney Sam is sent ...,[],[],"[DanielHenney, ElizaCoupe, BillPaxton]",DanielHsia,When ambitious New York attorney Sam is sent t...
4808,25975,My Date with Drew,[Ever since the second grade when he first saw...,[Documentary],"[obsession, camcorder, crush, dreamgirl]","[DrewBarrymore, BrianHerzlinger, CoreyFeldman]",BrianHerzlingerJonGunnBrettWinn,Ever since the second grade when he first saw ...

vectorizar - min max y aplicar tdif - escalado

In [ ]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from scipy.sparse import hstack

# Asegúrate de que selected_df no tenga valores NaN en las columnas relevantes
selected_df = selected_df.fillna('')  # Llenar NaNs con cadenas vacías

# Asegurarte de que las columnas sean cadenas
selected_df['tags'] = selected_df['tags'].astype(str)
selected_df['overview'] = selected_df['overview'].astype(str)
selected_df['genres'] = selected_df['genres'].astype(str)
selected_df['keywords'] = selected_df['keywords'].astype(str)
selected_df['cast'] = selected_df['cast'].astype(str)
selected_df['crew'] = selected_df['crew'].astype(str)

# Inicializar los vectorizadores
vectorizer_tags = CountVectorizer()
vectorizer_overview = CountVectorizer()
vectorizer_genres = CountVectorizer()
vectorizer_keywords = CountVectorizer()
vectorizer_cast = CountVectorizer()
vectorizer_crew = CountVectorizer()

# Vectorizar cada columna de texto y mantener como matrices dispersas
X_tags = vectorizer_tags.fit_transform(selected_df['tags'])
X_overview = vectorizer_overview.fit_transform(selected_df['overview'])
X_genres = vectorizer_genres.fit_transform(selected_df['genres'])
X_keywords = vectorizer_keywords.fit_transform(selected_df['keywords'])
X_cast = vectorizer_cast.fit_transform(selected_df['cast'])
X_crew = vectorizer_crew.fit_transform(selected_df['crew'])

# Combinar todas las matrices de características en una sola
X = hstack((X_tags, X_overview, X_genres, X_keywords, X_cast, X_crew))

In [22]:
from sklearn.neighbors import NearestNeighbors

# Inicializar el modelo NearestNeighbors
knn = NearestNeighbors(n_neighbors=5, metric='cosine')  # Puedes ajustar n_neighbors según sea necesario

# Ajustar el modelo a la matriz de características
knn.fit(X)

# Ejemplo: Encontrar películas similares para la primera película
# Puedes cambiar el índice para buscar películas similares a otras
distances, indices = knn.kneighbors(X[15], n_neighbors=5)  # Busca las 5 más cercanas a la primera película

# Mostrar las películas similares
print("Índices de las películas similares:", indices)
print("Distancias a las películas similares:", distances)

# Para mostrar títulos, asegúrate de tener un DataFrame que contenga títulos
similar_movies = selected_df.iloc[indices[0]]  # Obtiene los datos de las películas similares
print("\nPelículas Similares:")
print(similar_movies[['title']])

Índices de las películas similares: [[  15 3435  160 4568   63]]
Distancias a las películas similares: [[0.         0.34667058 0.36610811 0.37057929 0.37387982]]

Películas Similares:
                                                  title
15             The Chronicles of Narnia: Prince Caspian
3435           The Work and the Glory II: American Zion
160                          How to Train Your Dragon 2
4568                           The Little Ponderosa Zoo
63    The Chronicles of Narnia: The Lion, the Witch ...

In [24]:
def recommend(movie, knn_model, data_frame, n_recommendations=5):
    # Verificar si la película está en el DataFrame
    if movie not in data_frame['title'].values:
        print(f"Movie '{movie}' not found in the dataset.")
        return

    # Obtener el índice de la película que coincide con el título
    movie_index = data_frame[data_frame['title'] == movie].index[0]

    # Obtener la representación de características de la película
    movie_features = X[movie_index].reshape(1, -1)  # Asegúrate de usar la matriz de características

    # Obtener los índices y distancias de las películas más cercanas
    distances, indices = knn_model.kneighbors(movie_features, n_neighbors=n_recommendations + 1)

    # Mostrar las películas recomendadas
    print(f"\nTop {n_recommendations} movies similar to '{movie}':")
    for i in range(1, len(indices.flatten())):  # Comenzar desde 1 para evitar la película misma
        print(data_frame.iloc[indices.flatten()[i]]['title'])

# Ejemplo de uso:
recommend('The Chronicles of Narnia: Prince Caspian', knn, selected_df)

Top 5 movies similar to 'The Chronicles of Narnia: Prince Caspian':
The Work and the Glory II: American Zion
How to Train Your Dragon 2
The Little Ponderosa Zoo
The Chronicles of Narnia: The Lion, the Witch and the Wardrobe
Once in a Lifetime: The Extraordinary Story of the New York Cosmos